In [1]:
import pandas as pd
import numpy as np

In [2]:
h1b_data = pd.read_excel('h1bdata.xlsx')

In [3]:
h1b_data.head()

,Sr.No.,EMPLOYER,JOB TITLE,BASE SALARY,LOCATION,SUBMIT DATE,START DATE,CASE STATUS
0,1,SEGMENTIO INC,DATA SCIENCE,170000,"SAN FRANCISCO, CA",04/23/2019,06/10/2019,CERTIFIED
1,2,BELK INC,DATA SCIENCE & FORECAST ANALYST,82000,"CHARLOTTE, NC",03/07/2019,09/03/2019,CERTIFIED
2,3,MICRON TECHNOLOGY INC,DATA SCIENCE & PROCESS CONTROLS ENGINEERING PR...,88230,"BOISE, ID",02/22/2019,08/22/2019,CERTIFIED
3,4,LIVE NATION WORLDWIDE INC,DATA SCIENCE - SENIOR ENGINEER,124738,"HOLLYWOOD, CA",08/09/2019,09/04/2019,CERTIFIED
4,5,FEDEX CUSTOM CRITICAL INC,DATA SCIENCE ADVISOR,87000,"UNIONTOWN, OH",03/13/2019,09/11/2019,CERTIFIED

In [4]:
h1b_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56038 entries, 0 to 56037
Data columns (total 8 columns):
Sr.No.         56038 non-null int64
EMPLOYER       56037 non-null object
JOB TITLE      56038 non-null object
BASE SALARY    56038 non-null int64
LOCATION       56038 non-null object
SUBMIT DATE    56038 non-null object
START DATE     56038 non-null object
CASE STATUS    56038 non-null object
dtypes: int64(2), object(6)
memory usage: 3.4+ MB

In [6]:
company_list = h1b_data['EMPLOYER'].unique()

In [9]:
len(company_list)

10113

In [10]:
sf_companies = h1b_data[h1b_data['LOCATION'] == 'SAN FRANCISCO, CA']

In [12]:
len(sf_companies['EMPLOYER'].unique())

570